{
  "extends": ["react-app"],
  "rules": {
    "no-trailing-spaces": "off",
    "comma-dangle": ["error", "always-multiline"]
  },
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "no-trailing-spaces": "off",
        "comma-dangle": "off",
        "no-unused-vars": "off",
        "no-console": "off"
      }
    }
  ]
} 